# NGC 5 Week 2

```sql
CREATE TABLE customers (
    customer_id INTEGER PRIMARY KEY,
    customer_name VARCHAR(50),
    city VARCHAR(30)
);
DROP TABLE orders
CREATE TABLE orders (
    order_id INTEGER PRIMARY KEY,
    customer_id INTEGER,
    order_date DATE,
	total_amount FLOAT
);

INSERT INTO customers(customer_id, customer_name, city)
VALUES
	(1, 'John Doe', 'New York'),
	(2, 'Jane Smith', 'Los Angeles'),
	(3, 'David Johnson', 'Chicago');

SELECT * FROM customers;

INSERT INTO orders(order_id, customer_id, order_date, total_amount)
VALUES
	(1, 1, '2022-01-10', 100.00),
	(2, 1,  '2022-02-15', 150.00),
	(3, 2, '2022-03-20', 200.00),
	(4, 3, '2022-04-25', 50.00);

SELECT customers.customer_name, COUNT(orders.customer_id) AS total_orders
FROM customers
INNER JOIN orders ON orders.customer_id = customers.customer_id
GROUP BY customers.customer_name;