# NGC 6 Week 2

- berapa tabel pada dataset austin_bikeshare

```sql
SELECT Count(*)
FROM austin_bikeshare.INFORMATION_SCHEMA.TABLES
WHERE TABLE_TYPE = 'BASE TABLE' AND TABLE_NAME LIKE 'austin%';

- berapa kolom pada tabel austin_bikeshare_stations memiliki data string

```sql
SELECT Count(*)
FROM INFORMATION_SCHEMA.COLUMNS
WHERE table_name = 'austin_bikeshare_stations'
AND data_type = 'character varying';

- ambil trip yang tidak null dan durasi menit lebih dari 1000

```sql
SELECT *
FROM austin_bikeshare_trips
WHERE bikeid IS NOT NULL AND duration_minutes > 1000;

- ambil trip dengan bike_id Walk Up dan end_station_name Stolen

```sql
SELECT *
FROM austin_bikeshare_trips
WHERE subscriber_type = 'Walk Up' AND end_station_name = 'Stolen'

Untuk bagian ini bike_id diganti menjadi subscriber_type karena di data saya data Walk Up hanya ada pada kolom subscriber_type